In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("311_Service_Requests_2020.csv",low_memory=False)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2587316 entries, 0 to 2587315
Data columns (total 41 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unique Key                      int64
 1   Created Date                    object
 2   Closed Date                     object
 3   Agency                          object
 4   Agency Name                     object
 5   Complaint Type                  object
 6   Descriptor                      object
 7   Location Type                   object
 8   Incident Zip                    float64
 9   Incident Address                object
 10  Street Name                     object
 11  Cross Street 1                  object
 12  Cross Street 2                  object
 13  Intersection Street 1           object
 14  Intersection Street 2           object
 15  Address Type                    object
 16  City                            object
 17  Landmark                        object
 18  Facility Type                   object
 19  Status                          object
 20  Due Date                        object
 21  Resolution Description          object
 22  Resolution Action Updated Date  object
 23  Community Board                 object
 24  BBL                             float64
 25  Borough                         object
 26  X Coordinate (State Plane)      float64
 27  Y Coordinate (State Plane)      float64
 28  Open Data Channel Type          object
 29  Park Facility Name              object
 30  Park Borough                    object
 31  Vehicle Type                    object
 32  Taxi Company Borough            object
 33  Taxi Pick Up Location           object
 34  Bridge Highway Name             object
 35  Bridge Highway Direction        object
 36  Road Ramp                       object
 37  Bridge Highway Segment          object
 38  Latitude                        float64
 39  Longitude                       float64
 40  Location                        object
dtypes: float64(6), int64(1), object(34)
memory usage: 809.3+ MB

In [3]:
df = df[['Incident Zip','Complaint Type']]
df

         Incident Zip  Complaint Type
0             11229.0  Food Poisoning
1             10458.0  Food Poisoning
2             11203.0  Food Poisoning
3             11214.0  Food Poisoning
4             11385.0  Food Poisoning
...               ...             ...
2587311       11209.0  Food Poisoning
2587312       11209.0  Food Poisoning
2587313       11103.0  Food Poisoning
2587314       10461.0  Food Poisoning
2587315       10023.0  Food Poisoning

[2587316 rows x 2 columns]

In [4]:
df = df.dropna()
df['Incident Zip'] = df['Incident Zip'].astype(int).astype(str)

<ipython-input-4-2b3409e97490>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Incident Zip'] = df['Incident Zip'].astype(int).astype(str)

In [5]:
df.set_index('Incident Zip',inplace = True)
df1 = df.loc['10025']
df1

                          Complaint Type
Incident Zip
10025                Noise - Residential
10025                Noise - Residential
10025                Noise - Residential
10025         For Hire Vehicle Complaint
10025                     HEAT/HOT WATER
...                                  ...
10025                     HEAT/HOT WATER
10025                Noise - Residential
10025                             Rodent
10025                Noise - Residential
10025                Noise - Residential

[20978 rows x 1 columns]

In [7]:
top10 = df1.groupby('Complaint Type').size().sort_values(ascending = False)[:10]
top10

Complaint Type
Noise - Residential            2952
Noise - Street/Sidewalk        2128
HEAT/HOT WATER                 1885
Noise                          1131
Illegal Parking                 792
Noise - Vehicle                 787
Non-Emergency Police Matter     773
Rodent                          691
Illegal Fireworks               672
UNSANITARY CONDITION            565
dtype: int64